.main-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title-container {
  align-items: center;
  border: solid 1px;
  display: flex;
  justify-content: space-between;
}

.recipe-image {
  height: auto;
  width: 100vw;
}

.recipe-categorie {
  border: solid 1px;
  border-radius: 3px;
  padding: 3px 5px;
  text-align: center;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
  width: 100vw;
}
