.main-profile {
  max-width: 100vw;
  min-height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.done-recepies {
  margin: 20px;
}

.favorite {
  margin: 20px;
}

.logout {
  margin: 20px;
}
