.footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 60px;
  padding: 10px;
  position: fixed;
}

.drinks {
  padding: 10px;
}

.explore {
  padding: 10px;
}

.foods {
  padding: 10px;
}
