.footer {
  background-color: #2185c5;
  border-top: solid 3px #ff9715;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  width: 100vw;
}

.footer-btn {
  border: none !important;
  border-bottom: solid #dc3545 3px !important;
  padding: 5px;
}

.footer-icons {
  filter: invert();
}
