/* .footer {
  background-color: #dc3545;
  border-radius: 50px;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 3px solid #dc3545;
  margin-bottom: 15px;
  margin-left: 60px;
  padding: 10px;
  position: fixed;
} */

.footer {
  background-color: #dc3545;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  margin-top: 30px 10px;
  position: fixed;
  width: 100vw;
}

.drinks-footer {
  padding: 5px;
}

.explore-footer {
  padding: 5px;
}

.foods-footer {
  padding: 5px;
}
