.recomended-container {
  margin: 0;
  margin-bottom: 40px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.inner-slider {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  scroll-behavior: smooth;
}

.recomended-item {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: darkgrey 2px 3px 0.4em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin: 5px;
  padding: 10px;
}

.slide {
  position: absolute;
  right: -100%;
  visibility: hidden;
}

.slide-active {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  transition: ease 1000ms;
}

.recomended-image {
  height: 120px;
  object-fit: cover;
  width: 140px;
}

.recomended-item-info {
  display: block;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.recomended-category {
  background-color: #ff9715;
  border-radius: 5px;
  margin: 0 0 5px;
  padding: 2px 5px;
}

.rec-alcoholic {
  background-color: rgb(132, 0, 0);
  border-radius: 5px;
  color: white;
  font-size: 10pt;
  padding: 2px 5px;
}

.right-arrow {
  background-color: #dc3545;
  border-radius: 3px;
  bottom: -105%;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 140px;
  padding: 5px;
  position: relative;
  z-index: 5;
}

.right-arrow:active {
  background-color: #d50000;
}

.left-arrow {
  background-color: #dc3545;
  border-radius: 3px;
  bottom: -105%;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin-right: 140px;
  padding: 5px;
  position: relative;
  z-index: 5;
}

.left-arrow:active {
  background-color: #d50000;
}

.fade {
  animation: fade 1s ease-in;
}

@keyframes fade {

  from { opacity: 0.4; }

  to { opacity: 1; }
}
